


<style>


body{
  text-align: center;


}

p{
  text-align: center;
font-size: 50px

}

h1{
text-align: center;
font-size: 70px

}

h2{
text-align: center;
font-size: 70px

}


  </style>


  <style>
  body {
  background-color: #C0C0C0
  }
  </style>
